body {
  min-width: 1040px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  background-color: white;
  font-family: "Arial", sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
}

.container-form {
  width: 500px;
  margin: 0 auto;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page-header {
  min-height: 500px;
  padding-top: 35px;
  background: url("../img/header-bg.jpg") center no-repeat;
  background-size: cover;
}

.promo {
  margin-top: 100px;
}

.header-logo {
  float: left;
}

.footer-nav,
.main-nav {
  height: 76px;
  float: left;
  margin: 0;
  padding: 0;
  margin-left: 100px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 76px;
}
.footer-nav li,
.main-nav li {
  list-style: none;
  font-size: 20px;
  vertical-align: center;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 50px;
}

.footer-nav li:last-child,
.main-nav li:last-child {
  margin-right: 0px;
}
.footer-nav a,
.main-nav a {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid transparent;
  transition: all ease-in-out 0.2s;
}
.footer-nav a:hover,
.main-nav a:hover {
  border-color: white;
}
.footer-nav a:active,
.main-nav a:active {
  color: rgba(255, 255, 255, 0.5);
}

.promo {
  line-height: 50px;
  font-family: "Georgia", serif;
  font-size: 50px;
  color: #fff;
  text-align: center;
}

.catalog-title {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.catalog {
  margin-top: 50px;
  margin-bottom: 100px;
}

.catalog img {
  float: left;
  width: 230px;
  position: relative;
  left: 30px;
  z-index: -1;
}

.catalog ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-title {
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 60px;
  text-transform: uppercase;
}

.catalog-item {
  width: 440px;
  float: left;
  padding-left: 50px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 17px;
}
.catalog-item:last-child {
  border-left-color: transparent;
}

.property {
  width: 200px;
  float: right;
  margin-right: 0;
  padding: 0;
}

.property-table {
  width: 100%;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-spacing: 0px 5px;
}

.property-text {
  color: gray;
  font-size: 16px;
}

.catalog-item-name {
  font-size: 40px;
  text-transform: uppercase;
  clear: both;
}

.catalog-item-description {
  color: gray;
  width: 80%;
  word-wrap: break-word;
  margin-bottom: 50px;
}

.catalog-item-detail {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
  margin-bottom: 220px; 
  border: 2px solid sienna;
  color: sienna;
}

.catalog-item-detail:hover {
  color: brown;
  border: 2px solid brown;
}

.catalog-item-buy {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
  background-color: saddlebrown;
  color: white;
  border: 2px solid saddlebrown;
  margin-right: 30px;
}

.catalog-item-buy:hover {
  background-color: rgb(128,0,0);
  border: 2px solid rgb(128,0,0);
}

.features {
  padding-top: 50px;
  height: 350px;
  background-color: navajowhite;
}

.features-item {
  list-style: none;
  float: left;
  width: 300px;
  text-align: center;
  padding-top: 90px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.features-item:first-child {
  border-left: 1px solid transparent;
}

.features-item-title {
  text-transform: uppercase;
}

.features-item-decription {
  color: rgba(0, 0, 0, 0.6);
  padding: 0px 15px;
}

.features-item-icon {
  background: url("../img/star.png") top center no-repeat;
  background-size: 80px;
}

.history-title {
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 80px;
}

.history .history-item, .history-dt, .history-dd {
  margin: 0;
  padding: 0;
}

.history-dt {
  margin-bottom: 20px;
}

.history-item-title {
  margin: 0;
  padding: 0;
  width: 300px;
  float: left;
  text-transform: uppercase;
}

.history-item-source {
  width: 300px;
  float: right;
  color: darkgray;
  text-align: right;
}

.history-item-source a {
  color: saddlebrown;
}

.history-dd {
  margin-bottom: 80px;
}

.history-item-description {
  margin: 0;
  padding: 0;
  float: left;
  width: 550px;
  color: rgba(0, 0, 0, 0.5);
}

.history img {
  float: right;
}

.review {
  background-color: #FAF2EC;
  padding: 80px 0px;
  margin-bottom: 100px;
}

.review-item::before {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background: url("../img/right-quote.png") no-repeat;
  background-size: 35px 35px;
  position: absolute;
  left: 150px;
}

.review-title {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 80px;
  line-height: 40px;
}

.review-item {
  margin: 0;
  padding: 0;
}

.review-item-description {
  font-size: 16px;
  width: 680px;
  margin-bottom: 50px;
  color: #3E403F;
}

.review-item-source {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  float: right;
}

.review-item-next {
  text-transform: uppercase;
  color: darkgray;
  text-decoration: none;
  border: 2px solid darkgray;
  padding: 15px;
}

.review-item-next:hover {
  color: gray;
  border-color: gray;
}

.review-item-next:active {
  color: #3E403F;
  border-color: #3E403F;
}

.price-title {
  font-size: 40px;
  margin: 100px 0px;
  text-transform: uppercase;
  line-height: 40px;
}

.price-list td {
  padding: 20px 0px;
}

.price-list {
  border-collapse: collapse;
  width: 100%;
  margin: 0px auto 100px auto;
}

.price-list * {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  color: gray;
}


.price-th {
  font-size: 12px;
  color: gray;
  font-weight: 100;
  text-align: left;
  padding-bottom: 25px;
}

.price-product-name {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.price-product-name sup {
  background-color: black;
  color: white;
  font-size: 8px;
  font-weight: 100;
  padding: 2px 2px 0px 2px;
}

.price-list tr th:last-child {
  text-align: right;
}

.price-product-cost {
  text-align: right;
}

.feedback {
  background-color: navajowhite;
}

.feedback-title {
  padding: 100px 0px 80px 0px;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
  line-height: 40px;
}

.feedback-description {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  width: 600px;
}

.feedback-form {
  margin: 0;
  padding: 80px 0px 0px 0px;
  width: 900px;
}

.feedback-form label {
  text-transform: uppercase;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
}

.feedback-form input[type="text"], select {
  width: 700px;
  float: right;
  height: 30px;
  border: none;
  background-color: #FFC285;
}

.feedback-form textarea {
  float: right;
  border: none;
  background-color: #FFC285;
  width: 700px;
  height: 100px;
  resize: none;
}

.checkbox-item {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.submit-item {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
}

.feedback-form input[type="submit"] {
  margin: 20px 0px 20px 0px;
  background-color: saddlebrown;
  border: none;
  padding: 15px 15px;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  font-weight: 100;
}

.feedback-form input[type="submit"]:hover {
  background-color: rgba(128,0,0, 0.9);
}

.page-footer {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: black;
  color: white;
}

.footer-logo {
  float: left;
  margin-left: 50px;
}
.footer-nav {
  border: none;
  float: right;
}

.footer-bottom {
  margin-top: 50px;
}

.social {
  font-size: 16px;
  line-height: 60px;
  color: navajowhite;
  text-decoration: none;
  background-color: #242323;
  vertical-align: top;
  text-align: center;
  float: left;
  width: 60px;
  height: 60px;
}

.social:nth-child(even) {
  background-color: #2B2B2A;
}

.copyright {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 16px;
  width: 250px;
  color: gray;
  float: left;
  margin-left: 100px;
  vertical-align: top;
}

.author {
  float: right;
  vertical-align: top;
}
.author img {
  padding: 15px;
  background-color: #242323;
}

.author b {
  color: gray;
  vertical-align: bottom;
  padding-left: 20px;
}

.author b a {
  color: gray;
  text-decoration: none;
  vertical-align: bottom;
}


